  <div class="content">
  	<div id="logo">
  	</div>
  	<div class="content-box">
  		<form action="#" method="POST">
	 	<ul>
	  		<li>
		  		<input type="text">
			</li>
	  		<li id="button">
	  	  		<input type="submit" value="Google Search">
	  	 	 	<span>  </span>
	  	  		<input type="submit" value="I'm Feeling Lucky">
	  		</li>
	  	</ul>
		</form>
  	</div>
  </div>